body{
    font-family: 'Noto Serif KR', serif;
    font-weight: 800;
}

.image-box {
    width:360px;
    height:360px;
    overflow:hidden;
    flex:1; 
    margin: 1rem; 
    min-width: 360px; 
    max-width: 360px;
    transition: opacity 0.2s ease-in;
    display:inline-block;
    position: relative;
}

.image-box:hover:after, .image-box:hover > .hover_text {
    display:block;
    
}
  
.image-box:after, .hover_text {
    display:none;
}

.image-box:after {
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10;
    opacity: 0.5;
}

.hover_text{
    position: absolute;
    top: 120px;
    left: 30px;
    color: #fff;
    z-index: 20;
    font-weight: 400;
    font-size: 20px;
}

h3.hover_text {
    font-weight: bold;
    font-size: large;
}

.img-thumbnail {
    object-fit:cover;
}

